*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{

}
#header{
    background-color: whitesmoke;
}
.header_logo, .nav_list{
    display: inline-block;
}
.nav_list li{
    display: inline-block;
    list-style: none;
}
.nav_list li a{
    text-decoration: none;
}